@import "../../index.scss";

.subs {
    background-color: $tertiary;
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .subs__wrapper {
        max-width: $max-width;
        display: flex;
        width: 100%;
        gap: 3rem;

        .subs__left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 40%;
            height: 100%;
            z-index: 1;

            .subs__title {
                font-size: 1.5rem;
                font-weight: 600;
                color: $textcolor;
            }

            .subs__text {
                color: $textcolor;
            }
        }

        .subs__right {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100%;

            .subs__sliders {
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: center;
                max-height: 550px;
                align-items: center;
                padding-bottom: 1.5rem !important; 
                padding-top: 6rem;    

                .subs__slider {
                    background-color: $white;
                    width: 400px;
                    padding: 1rem;
                    border-radius: .5rem;
                    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.075);

                    &:nth-child(2){
                        border: .25rem solid $textcolor;
                        
                        &::before {
                            content: "Meest gekozen";
                            position: absolute;
                            font-size: 75%;
                            top: -1.8rem;
                            background-color: $textcolor;
                            width: 100%;
                            padding: 0 .26rem;
                            color: white;
                            border-top-left-radius: 1rem;
                            border-top-right-radius: 1rem; 
                            left: -.26rem;
                            right: 0;
                            height: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .subs__top {
                        height: 25%;
                        display: flex;
                        flex-direction: column;
                        gap: .75rem;

                        .top__title {
                            font-weight: 600;
                        }
                    }

                    .subs__bottom {
                        height: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        gap: 1rem;

                        .bottom__price {
                            font-weight: 600;
                            color: $textcolor;
                        }

                        .bottom__features {

                            .bottom__feature {
                                list-style: none;

                                i {
                                    margin-right: .5rem;
                                }
                            }
                        }

                        .cta {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .subs__cube {
            width: 400px;
            height: 800px;
            background-color: $secondaryLight;
            position: absolute;
            z-index: 0;
            left: -10rem;
            bottom: -10rem;
            transform: rotate(135deg);
        }

        .subs__cube2 {
            width: 400px;
            height: 800px;
            background-color: $secondaryLight;
            position: absolute;
            z-index: 0;
            right: 0;
            top: 0rem;
            transform: rotate(135deg);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .subs__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90% !important;
        height: 100%;
        gap: 0 !important;

        .subs__left {
            width: 100% !important;
            text-align: center;
            height: 30% !important;
        }

        .subs__right {
            width: 100% !important;
            height: 70% !important;

            .subs__sliders {
                height: 100% !important;
                padding-top: 2rem !important;
                max-width: 600px;

                .subs__slider {
                    height: 100%;
                }
            }
        }
    }

}