@import "../../index.scss";

.explore {
    background-color: $tertiaryLight;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .explore__wrapper {
        width: $max-width;
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
        gap: 1rem;
        align-items: flex-start;
        padding-bottom: 6rem;
        position: relative;

        .explore__opened {
            position: fixed;
            width: 100%;
            padding: 1rem;
            border-radius: .5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            gap: 1rem;
            animation: fadeIn .5s ease-in;
            z-index: 5;
            background-color: $white;
            width: 75%;
            top: 25%;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, 0.05);

            .explore__close {
                cursor: pointer;
                color: $textcolor;
                position: absolute;
                font-size: 2rem;
                top: 1.15rem;
                right: 1rem;
            }
    
            img {
                height: 350px;
                width: 250px;
                object-fit: cover;
                border-radius: .5rem;
                box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.075);
                pointer-events: auto;
            }
    
            .explore__opened--details {
                display: flex;
                flex-direction: column;
                border-radius: .5rem;
                height: 350px;
                justify-content: space-between;
                gap: 1rem;
    
                .details__bold {
                    font-weight: 500;
                }
    
                .details__title {
                    color: $textcolor;
                }
                
                .details__date {
                    font-size: 75%;
                }
                .details__platforms {
                    font-size: 75%;
                }
    
                .details__genre {
                    font-size: 75%;
                }
    
                .details__desc {
                    color: $textcolor;
                    overflow-y: scroll;
                    max-height: 10rem;
                    min-height: 10rem;
                    background-color: $tertiaryLight;
                    padding: .5rem;
                    border-radius: .5rem;
                }

                .cta {
                    width: 15rem;
                }
            }
        }

        .explore__filters {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            flex-wrap: wrap;

            .explore__inputContainer {
                flex-direction: column;
                display: flex;

                .explore__label {
                    font-size: 100%;
                    font-weight: 300;
                }
    
                .explore__input {
                    border: solid $grey 1px;
                    border-radius: .25rem;
                    font-size: 100%;
                    padding: .25rem;
                    font-weight: 300;
                    background-color: $white;
                    font-style: italic;
    
                    &:focus {
                        outline: none;
                        border: 1px solid $textcolor;
                    }
                }
            }
        }


        .explore__resultsContainer {
            width: 100%;
            display: flex;
            flex-direction: column;

            .explore__resultsTitle {
                font-weight: 300;
                color: $textcolor;
            }

            .explore__results {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row !important;
                gap: 1rem;
                justify-content: center;
                background-color: $white;
                padding: 1rem;
                min-height: 65vh !important;

                .explore__item--wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: .5rem 0rem;
                    border-radius: .5rem;
                    background-color: $grey;
                    gap: .25rem;
                    animation: fadeIn .5s ease-in;
                    height: min-content;

                    .explore__image {
                        height: 225px;
                        width: 175px;
                        cursor: pointer;
                        border-radius: .5rem;
                        pointer-events: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        filter: opacity(50%);
    
                        &:hover {
                            background-color: $tertiaryLight;
                            transition: .5s all;
                            filter: opacity(100%);
                        }
    
                        img {
                            height: 100%;
                            width: 85%;
                            object-fit: cover;
                            border-radius: .5rem;
                            box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.075);
                            pointer-events: auto;
    
                            &:hover{
                                transition: .5s all;
                            }
                        }
                    }

                    .explore__item--title {
                        padding: 0 .75rem;
                        align-self: flex-start;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 175px;
                        text-overflow: ellipsis;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .explore__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90% !important;
        height: 100%;
        gap: 1rem;

        .explore__opened {
            top: 10% !important;
            width: 80% !important;
        }

        img {
            height: 20rem !important;
            width: 15rem !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    .explore__opened {
        flex-direction: column;
    }
}