@import "../../index.scss";

.backlog {
    background-color: $tertiaryLight;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .backlog__wrapper {
        width: $max-width;
        display: flex;
        flex-direction: column;
        padding-top: 10rem;
        gap: 1rem;
        align-items: flex-start;

        .backlog__filters {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            flex-wrap: wrap;

            .backlog__inputContainer {
                flex-direction: column;
                display: flex;

                .backlog__label {
                    font-size: 100%;
                    font-weight: 300;
                }
    
                .backlog__input {
                    border: solid $grey 1px;
                    border-radius: .25rem;
                    font-size: 100%;
                    padding: .25rem;
                    font-weight: 300;
                    background-color: $white;
                    font-style: italic;
    
                    &:focus {
                        outline: none;
                        border: 1px solid $textcolor;
                    }
                }
            }
        }


        .backlog__resultsContainer {
            width: 100%;
            display: flex;
            flex-direction: column;

            .backlog__resultsTitle {
                font-weight: 400;
            }

            .backlog__results {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row !important;
                gap: 1rem;
                justify-content: center;
                background-color: $white;
                padding: 1rem;
                min-height: 65vh !important;

                .backlog__item {
                    height: 225px;
                    width: 175px;
                    padding: 1rem 0rem;
                    background-color: $grey;
                    cursor: pointer;
                    border-radius: .5rem;
                    pointer-events: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    filter: opacity(50%);

                    &:hover {
                        background-color: $tertiaryLight;
                        transition: .5s all;
                        filter: opacity(100%);
                    }

                    img {
                        height: 100%;
                        width: 85%;
                        object-fit: cover;
                        border-radius: .5rem;
                        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.075);
                        pointer-events: auto;

                        &:hover{
                            transform: scale(1.1);
                            transition: .5s all;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .backlog__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90% !important;
        height: 100%;
        gap: 1rem;
    }
}