@import "../../index.scss";

.features {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: $tertiaryLight;

    .features__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5rem 0;
        max-width: $max-width;
        height: 100%;
        gap: 3rem;

        .features__heading {
            z-index: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .features__heading-title {
                color: $textcolor;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 0rem;
            }

            .features__heading-text {
                color: $textcolor;
                width: 60%;
            }
        }

        .features__cards-container {
            z-index: 1;
            display: flex;
            width: 100%;
            gap: 1rem;

            .features__card {
                background-color: $white;
                width: 400px;
                min-height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding: 1rem;
                border-radius: .5rem;
                box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.075);
    
                .features__icon {
                    background-color: $primary;
                    color: $white;
                    padding: 1rem;
                    border-radius: 100%;
                    transform: translateY(-2rem);
                    font-size: 2rem;
                }
    
                .features__title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $textcolor;
                }
    
                .features__text {
                    text-align: center;
                    color: $textcolor;
                }
            }
        }
        .features__cube {
            width: 400px;
            height: 500px;
            background-color: $secondaryLight;
            position: absolute;
            z-index: 0;
            left: 0;
            bottom: -8rem;
            transform: rotate(45deg);
        }

        .features__cube2 {
            width: 400px;
            height: 500px;
            background-color: $secondaryLight;
            position: absolute;
            z-index: 0;
            right: -12rem;
            top: 6rem;
            transform: rotate(45deg);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .features_wrapper {
        flex-direction: column;
        width: 90% !important;
    }

    .features__heading-text {
        width: 90% !important;
    }

    .features__cards-container {
        flex-direction: column !important;
        justify-content: center !important;
        gap: 2rem !important;
        align-items: center;
    }

}